@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    border: none;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
    image-rendering: pixelated;
    position: absolute;
    height: 500px;
    width: 500px;

}

#container, #canvas-container{
    overflow: hidden;
    display: block;
    height: 530px;
    width: 500px;
    position: relative;
}



#outlineCanvas {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#outlineCanvas:not(.hide) {
    opacity: 1;
    transition-delay: .2s;
}

#dashboard {
    position: absolute;
    top: 500px;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #333;
    display: flex;
    z-index: 100;
    color: white;

}
#pallete {
    width: 240px;
    font-size: 0;
    border: 1px solid #000;
    display: inline-block;
}

#color {
    width: 15px; 
    height: 15px; 
    display: inline-block; 
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
}
#current-color {
    width: 30px;
    height: 30px;
    margin: 1px;
}


#plus, #minus, #pan, #draw, #bucket, #next, #prev, #clear, #download {
    color: white;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 4px;
    font-family: 'Pixelify Sans', sans-serif;
    display: inline-block;
    cursor: pointer;
}

#controls {
    align-items: center;
    justify-content: center;
    display: flex;
}

